

html {
    display: table;
    margin: auto;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    align-items: center;

    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    font-family: 'Roboto', sans-serif;
    background: #eee;
    text-align: center;
    color: #333;
    
}
.hidden {
    display: none;
}
#loginBox {
    width: 400px;
    border-radius: 5px;
    background: rgba(255, 255, 255, .5);
}
#loginBox > table {
    width: 100%;
    
}
.logo {
    user-select: none;
    margin: 40px 0 20px 0;
    width: 30%;
    min-width: 200px;
    animation: swing alternate ease-in-out infinite 1s
    
}

@keyframes swing {
    
    0% {transform: rotate(3deg);}
    100% {transform: rotate(-3deg);}
    
}

.logo > img {
    width: 100%;
    pointer-events: none;
    user-select: none;
    

}



.footer {
    font-size: small;
    display: block;
    text-align: center;
    margin: 30px;

    -webkit-text-stroke: 0;
    
}
.text {
    width: 50vw;
    max-width: 400px;
    min-width: 200px;
}


p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 10%;
    text-align: justify;
}